<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @orgainzation.name %>
</p>

<p>
  <b>Address:</b>
  <%= @orgainzation.address %>
</p>


<%= link_to 'Edit', edit_orgainzation_path(@orgainzation) %> |
<%= link_to 'Back', orgainzations_path %>
