<h1>Listing writers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @writers.each do |writer| %>
  <tr>
    <td><%= writer.name %></td>
    <td><%= writer.location %></td>
    <td><%= link_to 'Show', writer %></td>
    <td><%= link_to 'Edit', edit_writer_path(writer) %></td>
    <td><%= link_to 'Destroy', writer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Writer', new_writer_path %>
