<div class="for_all">
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <% User.all.each do |user| %>
  <div class="field">
    <% flag = 0 %>
    <%= hidden_field_tag('active_user[]', user.id) %>
    <% if @product.users.size > 0 %>
      <% @product.users.each do |selected_user| %>
        <% if selected_user.name == user.name %>
          <% flag = 1 %>
          <%= check_box_tag 'user_list[]', user.id, true %>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
    <% if flag == 0 %>
      <%= check_box_tag 'user_list[]', user.id %>
    <% end %>
    <%= user.name %>
  </div>
  <% end %>
<!--    <%= select_tag :name, options_from_collection_for_select( User.all, :id, :name ), prompt: "--Select--" %><br />  -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
