<div class="for_all">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :rows => 3 %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
 
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
   
  <div class="field">
    <%= f.label :pincode %><br />
    <%= f.text_field :pincode %>
  </div>

  <% Product.all.each do |product| %>
    <div class="field">
      <% flag = 0 %>
      <%= hidden_field_tag('active_product[]', product.id) %>
      <% if @user.products.size > 0 %>
        <% @user.products.each do |selected_product| %>
          <% if product.name == selected_product.name %>
            <% flag = 1 %>
            <%= check_box_tag 'product_list[]', product.id, true %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <% if flag == 0 %>      
        <%= check_box_tag 'product_list[]', product.id %>
      <% end %>
      <%= product.name %>
    </div>
  <% end %>
 <!-- <%= select_tag :name, options_from_collection_for_select(Product.all, "id", "name"), prompt: "--Select--" %> -->

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
</div>
