<%= form_for(@group) do |group_form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= group_form.label :name %><br />
    <%= group_form.text_field :name %>
  </div>
  <br>
  <div class="actions">
    <%= group_form.submit %>
  </div>
<% end %>
