<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :img %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>



<h2>Authors</h2>
<%= fields_for :writer do |person_form| %>

  <div class="field">
  name: <br><%= person_form.text_field :name %><br>
  location : <br><%= person_form.text_field :location %><br>
</div>
<% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
