<p id="notice"><%= notice %></p>
<%= image_tag(@book.img, :class => 'list_image') %>
<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>

written by:
<table border="1">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book.writers.each do |writer| %>
  <tr>
    <td><%= writer.name %></td>
    <td><%= writer.location %></td>
    <td><%= link_to 'Show', writer %></td>
    <td><%= link_to 'Edit', edit_writer_path(writer) %></td>
    <td><%= link_to 'Destroy', writer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
